/*----------------------------------------------------------------------------------*/
/*----------------------------------RESPONSIVE--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.btn-menu {
    overflow: hidden;
    display: none;
    text-align: right;
}
.btn-toggle {
    display: inline-block;
    color: #fff;
    line-height: 5px;
    font-size: 19px;
    padding: 2px 4px 5px;
    margin: 10px 15px;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-toggle:after,
.btn-toggle:before {
    display: block;
    content: '\2014';
    color: #fff;
}
.btn-menu .text {
    float: right;
    font-size: 19px;
    margin-top: 9px;
    color: #fff;
}
.btn-toggle-js {
    float: left;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control.left,
    .carousel-control.right {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 1300px) {
    .wrap-slider .content {
        max-width: 600px;
        margin-left: 70px;
    }
    .wrap-slider .text {
        width: 100%;
    }
    .list-btns-slider {
        display: inline-block;
    }
}
@media screen and (max-width: 1200px) {
    .content {
        width: 99%;
    }
    .list-contact,
    .list-soc-links {
        float: none;
    }
    .list-contact {
        margin-bottom: 10px;
    }
    .wrap-search {
        float: none;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .wrap-footer .middle-box .wrap,
    .wrap-header .middle-box .wrap {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .wrap-footer .tell,
    .wrap-header .tell {
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    .list-goods {
        text-align: center;
    }
    .list-goods li {
        margin-left: 2%;
    }
}
@media screen and (max-width: 900px) {
    .inner-content {
        margin-bottom: 120px;
    }
    .side-bar {
        width: auto;
        float: none;
        margin-right: 0;
    }
    .wrap-slider .content {
        margin: 0 auto;
        text-align: center;
    }
    .wrap-advantages .list-marker {
        margin-right: 15px;
    }
    .list-big-squares .wrap {
        margin: 20px 20px 5px;
    }
    .wrap-footer .middle-box .wrap,
    .wrap-header .middle-box .wrap {
        float: none;
        margin-bottom: 0;
    }
    .logo {
        margin-bottom: 10px;
    }
    .desc-company {
        margin-bottom: 20px;
    }
    .contact-box {
        float: none;
    }
    .tbl-toggle {
        display: none;
    }
    .btn-menu {
        height: 45px;
    }
    .btn-menu,
    .nav-header > ul > li {
        overflow: hidden;
        display: block;
        background: #FA8343;
    }
    .nav-header > ul > li {
        height: auto !important;
    }
    .nav.nav-header > ul > li {
        overflow: hidden;
    }
    .tbl-toggle li {
        display: block;
        float: none !important;
    }
    .nav.nav-header {
        width: 100%;
        height: auto;
        min-height: 45px;
        background: none;
    }
    .nav-header > ul > li:before,
    .nav-header > ul > li:after {
        display: none;
    }
    .sub-menu {
        display: none;
    }
    .wrap-footer .top-box {
        padding: 0;
    }
    .btn-menu {
        background: #3F4553;
    }
    .wrap-footer .nav > ul > li:first-child {
        margin-left: 50px;
    }
    .wrap-footer .nav > ul > li {
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .wrap-slider {
        top: 0;
    }
    .list-big-squares .name {
        font-size: 16px;
    }
    .list-big-squares .desc {
        font-size: 13px;
    }
}
@media screen and (max-width: 750px) {
    .wrap-slider .content {
        max-width: 450px;
    }
    .wrap-slider .header1,
    .wrap-slider .header2 {
        font-size: 34px;
        line-height: 36px;
    }
    .list-contact li {
        margin-bottom: 5px;
    }
    .list-service li {
        margin: 0 0 95px 3.5%;
    }
}
@media screen and (max-width: 700px) {
    .list-service li {
        width: 47.5%;
        margin: 0 0 95px 3.5%;
    }
    .list-service li:nth-child(3n + 1) {
        margin-left: 3.5%;
    }
    .list-service li:nth-child(2n + 1) {
        margin-left: 0;
    }
}
@media screen and (max-width: 650px) {
    .list-goods li {
        width: 45%;
    }
    .list-goods li:nth-child(2n + 1) {
        margin-left: 0;
    }
    .wrap-advantages .left-block {
        float: none;
        width: auto;
    }
    .wrap-advantages .right-block,
    .wrap-advantages .right-block .list-advantages,
    .wrap-advantages .right-block h2 {
        width: auto;
        margin-left: 0;
    }
    .wrap-info-block .left-block {
        float: none;
        width: auto;
        padding-right: 0;
        padding-left: 20px;
    }
    .wrap-info-block .right-block {
        padding-left: 20px;
    }
    .wrap-block-question .text {
        font-size: 21px;
    }
}
@media screen and (max-width: 600px) {
    .list-big-squares {
        text-align: center;
    }
    .list-big-squares li {
        display: inline-table;
        float: none;
        width: 48%;
        margin-left: 2%;
        margin-bottom: 20px;
    }
    .list-big-squares .wrap {
        text-align: left;
    }
    .wrap-slider .text {
        margin: 50px 0 45px;
    }
    .wrap-slider .header1,
    .wrap-slider .header2 {
        font-size: 30px;
    }
    .wrap-slider .desc {
        font-size: 14px;
    }
    .list-btns-slider li {
        float: none;
        margin: 0 0 20px;
    }
    .carousel-control.left,
    .carousel-control.right {
        top: 0;
    }
    .wrap-slider .text {
        width: 98%;
    }
}
@media screen and (max-width: 500px) {
    .logo {
        float: none;
        display: block;
    }
    .list-contact li {
        overflow: hidden;
        float: none;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .list-btns li {
        display: block;
        margin: 0 0 15px 0;
    }
    .close-btn-popup {
        right: 0;
        top: -30px;
    }
    .wrap-header .top-box,
    .wrap-header .middle-box {
        text-align: center;
    }
    .wrap-header .top-box .content,
    .wrap-header .middle-box .content {
        display: inline-block;
        width: auto;
        text-align: left;
    }
    .list-projects .btn,
    .list-projects a.btn {
        width: 100%;
        max-width: 196px;
    }
}
@media screen and (max-width: 450px) {
    .list-service li {
        width: 100%;
        max-width: 350px;
        margin-left: 0;
        text-align: center;
    }
    .list-goods li {
        width: 100%;
        margin-left: 0;
    }
    .popup-box .wrap-form {
        margin: 35px 10px 45px;
    }
    .popup-box {
        width: 350px;
        margin-left: -175px;
    }
}
@media screen and (max-width: 420px) {
    .wrap-slider .header1,
    .wrap-slider .header2 {
        font-size: 26px;
    }
    .list-big-squares li {
        width: 100%;
        max-width: 370px;
        margin-left: 0;
    }
    .section h2 {
        font-size: 25px;
    }
    .popup-box {
        width: 300px;
        margin-left: -150px;
    }
    .img-service {
        float: none;
        margin-bottom: 20px;
    }
    .list-projects li {
        width: 100%;
    }
    .list-projects li:nth-child(2n + 1) {
        margin-right: 0;
    }
}