/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px 'Open Sans', sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:15px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
	background: #3F4553;
    color: #fff;
}
.wrap-footer a {
    color: #fff;
}
    .wrap-footer .top-box {
        padding: 32px 0 33px;
        border-bottom: 1px solid #5A6070;
    }
        .nav {
            overflow: hidden;
            margin: 0 auto;
        }
            .nav li {
                float: left;
                margin-left: 35px;
            }
            .nav li:first-child {
                margin-left: 0;
            }
                .nav a {
                    font-size: 16px;
                }
                .wrap-footer .nav a:hover,
                .wrap-footer .nav .active a {
                    color: #fa8343;
                    text-decoration: underline;
                }
    .wrap-footer .middle-box {
        overflow: hidden;
        padding: 28px 0;
    }
        .wrap-footer .middle-box .wrap {
            float: left;
        }
            .logo {
                float: left;
                margin-right: 45px;
            }
            .desc-company {
                float: right;
                width: 300px;
                margin-top: 5px;
                font-size: 16px;
            }
        .contact-box {
            float: right;
        }
            .tell {
                float: left;
                padding: 3px 0 4px 45px;
                margin-top: 4px;
                background: url("../images/header/tell_icon.png") left center no-repeat;
            }
                .tell a {
                    margin-right: 13px;
                    font-size: 24px;
                    font-weight: 600;
                    text-decoration: none;
                }
                    .tell span {
                        font-weight: 700;
                    }
            .btn-callback {
                width: 200px;
                height: 50px;
                color: #fff;
                border: 2px solid #FA8343;
                background: transparent;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
            }
    .wrap-footer .bottom-box {
        overflow: hidden;
        padding: 11px 0;
        background: #383D4A;
    }
        .wrap-search {
            float: right;
            height: 35px;
            padding: 0 15px;
            background: #5C616F;
        }
            .wrap-search .text {
                width: 151px;
                margin-top: 9px;
                background: transparent;
                border: none;
                color: #fff;
            }
            .wrap-search .text::-webkit-input-placeholder {color: #fff;}
            .wrap-search .text::-moz-placeholder          {color: #fff;}
            .wrap-search .text:-moz-placeholder           {color: #fff;}
            .wrap-search .text:-ms-input-placeholder      {color: #fff;}

            .wrap-search .search {
                width: 15px;
                height: 15px;
                margin-top: 10px;
                background: url("../images/header/search_icon.png") no-repeat;
                border: none;
                text-indent: -9999px;
            }
            .wrap-search .search:hover {
                opacity: 0.8;
            }
        .list-contact {
            overflow: hidden;
            float: left;
        }
            .list-contact li {
                float: left;
                margin-left: 27px;
            }
            .list-contact li:first-child {
                margin-left: 0;
            }
            .list-contact .address {

            }
                .list-contact address {
                    display: inline;
                }
        .list-soc-links {
            overflow: hidden;
            float: right;
            margin-right: 30px;
        }
            .list-soc-links li {
                float: left;
                margin-left: 1px;
            }
                .list-soc-links a {
                    display: block;
                    width: 27px;
                    height: 27px;
                    text-indent: -9999px;
                    background: url("../images/header/soc_icons.png") no-repeat;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/