/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px 'Open Sans', sans-serif; background:#fff; color:#212121; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:15px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 251px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    position: relative;
    z-index: 100;
}
.wrap-header .top-box,
.wrap-header .top-box a {
    color: #b6b6b6;
}
    .wrap-header .desc-company {
        color: #b2b2b2;
    }
.nav.nav-header {
    overflow: visible;
    height: 70px;
    background: #FA8343;
}
    .nav.nav-header > ul > li {
        position: relative;
        height: 70px;
        margin-left: 0;
    }
    .nav-header > ul > li:hover:before {
        background: #FA8343;
    }
    .nav-header > ul > li.active,
    .nav-header > ul > li.active:before,
    .nav-header > ul > li:hover {
        background: #495061;
    }
        .nav-header > ul > li:before,
        .nav-header > ul > li:after {
            content: '';
            display: block;
            width: 100%;
            height: 13px;
        }
        .nav-header > ul > li > a {
            display: block;
            margin: 12px 20px;
            color: #fff;
        }
        .nav-header > ul > li > a:hover {
            text-decoration: underline;
        }
        .nav-header > ul > li:hover .sub-menu {
            display: block;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 70px;
            width: 265px;
            padding: 15px 0;
            background: #495061;
        }
            .sub-menu li {
                display: block;
                float: none;
                padding: 11px 0 12px 30px;
                border-bottom: 1px solid #5B6472;
            }
            .sub-menu li:last-child {
                border-bottom: none;
            }
                .sub-menu a {
                    color: #fff;
                    font-size: 15px;
                    text-decoration: none;
                }
                .sub-menu a:hover {
                    color: #fa8343;
                    text-decoration: underline;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-content {
    padding-top: 75px;
}
    .list-big-squares {
        overflow: hidden;
        margin-bottom: 85px;
    }
        .list-big-squares li {
            position: relative;
            float: left;
            width: 31.66%;
            height: 210px;
            margin-left: 2.5%;
            background: #495061;
            color: #fff;
        }
        .list-big-squares li:first-child {
            background: url("../images/content/bg_block.jpg") repeat-y #FA8343;
        }
            .list-big-squares li:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;

                width: 0;
                height: 0;
                border-bottom: 35px solid #fff;
                border-left: 35px solid transparent;
                opacity: 0.2;
            }
            .list-big-squares .wrap {
                margin: 35px 35px 5px;
            }
                .list-big-squares .name {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
    .wrap-list-service {
        padding-top: 70px;
        background: #F9F9F9;
    }
    .list-service {
        overflow: hidden;
        margin-bottom: 95px;
        color: #696f7c;
    }
        .list-service li {
            display: inline-table;
            width: 30%;
            margin: 0 0 95px 3.7%;
        }
        .list-big-squares li:nth-child(3n + 1),
        .list-service li:nth-child(3n + 1) {
            margin-left: 0;
        }
            .list-service .wrap-img {
                display: table;
                width: 100%;
                height: 85px;
            }
                .list-service .wrap-img span {
                    display: table-cell;
                    vertical-align: middle;
                }
            .list-service .name {
                display: block;
                margin-bottom: 15px;
                color: #212121;
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .list-service p {
                margin-bottom: 25px;
                line-height: 1.7;
            }
    .wrap-info-block {
        overflow: hidden;
        position: relative;
    }
        .custom-bg {
            background: #fff;
        }
        .wrap-info-block .content {
            overflow: hidden;
            position: relative;
            z-index: 100;
            background: #EEF0F1;
        }
        .wrap-info-block:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            background: #EEF0F1;
        }
            .wrap-info-block .left-block {
                float: left;
                width: 47%;
                padding: 65px 3.5% 30px 0;
                background: #fff;
            }
                .section h2 {
                    margin-bottom: 30px;
                    font-size: 27px;
                    color: #212121;
                    text-transform: uppercase;
                }
                .wrap-info-block .left-block p {
                    margin-bottom: 30px;
                    font-size: 16px;
                    line-height: 1.7;
                }
            .wrap-info-block .right-block {
                overflow: hidden;
                padding: 65px 5.7% 30px;
                background: #EEF0F1;
            }
                .wrap-info-block .right-block p {
                    margin-bottom: 15px;
                    font-size: 15px;
                    line-height: 1.7;
                }
                .list-news {}
                    .list-news li {
                        margin-bottom: 20px;
                    }
    .wrap-block-question {
        padding: 55px 0 65px;
        background: #3f4553;
        text-align: center;
    }
        .wrap-block-question:before {
            content: '';
            display: inline-block;
            width: 56px;
            height: 52px;
            margin-bottom: 10px;
            background: url("../images/content/question_icon_block.png") no-repeat top center;
        }
        .wrap-block-question .text {
            display: block;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .list-btns li {
            display: inline-table;
            margin-left: 30px;
        }
        .list-btns li:first-child {
            margin-left: 0;
        }
            .list-btns .question {
                color: #fff;
                background: #FA8343;
            }
            .list-btns .question:hover {
                border-color: #fff;
                color: #FA8343;
                background: #fff;
            }
            .list-btns .call {
                border-color: #fff;
                color: #FA8343;
                background: #fff;
            }
            .list-btns .call:hover {
                border-color: #FA8343;
            }
    .wrap-advantages {
        position: relative;
        overflow: hidden;
        background: #fff;
        font-size: 16px;
    }
        .wrap-advantages:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            background: #F0F2F3;
        }
        .wrap-advantages .content {
            overflow: hidden;
            position: relative;
            z-index: 100;
            padding-bottom: 20px;
        }
            .wrap-advantages .custom-bg {
                background: #F0F2F3;
            }
                .wrap-advantages .left-block {
                    float: left;
                    width: 50%;
                    padding-top: 50px;
                    background: #F0F2F3;
                }
                    .wrap-advantages .list-advantages {
                        margin-right: 20px;
                    }
                        .wrap-advantages .list-advantages li {
                            margin-bottom: 32px;
                        }
                            .wrap-advantages .list-marker {
                                float: left;
                                width: 40px;
                                margin: 4px 30px 0 0;
                            }
                            .wrap-advantages .left-block .list-marker {
                                height: 40px;
                                text-align: center;
                                text-indent: -9999px;
                                background: #495061 url("../images/content/ok_icon.png") no-repeat center;
                            }
                            .wrap-advantages .text {
                                display: block;
                                overflow: hidden;
                            }
                .wrap-advantages .right-block {
                    overflow: hidden;
                    width: 50%;
                    padding-top: 50px;
                    background: #fff;
                    margin-left: 12%;
                }
                    .wrap-advantages .right-block .list-advantages,
                    .wrap-advantages .right-block h2 {
                        margin-left: 12%;
                    }
                            .wrap-advantages .right-block .list-marker {
                                padding: 8px 0 9px;
                                text-align: center;
                                background: #FA8343;
                                font-size: 17px;
                                font-weight: bold;
                                color: #fff;
                            }
    .wrap-goods {
        padding: 75px 0;
        background: #f9f9f9;
    }
        .list-goods li {
            display: inline-table;
            width: 23%;
            margin-left: 2.3%;
            text-align: center;
            background: #fff;

            -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.1);
            -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.1);
            box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.1);
        }
        .list-goods li:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
            -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
            box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
        }
        .list-goods li:first-child {
            margin-left: 0;
        }
            .list-goods .wrap {
                margin: 35px;
            }
                .list-goods .name {
                    position: relative;
                    display: block;
                    height: 65px;
                    font-size: 17px;
                    font-weight: bold;
                }
                    .list-goods .name:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 65px;
                        height: 1px;
                        margin-left: -33px;
                        background: #E6E7E9;
                    }
                .list-goods .wrap-foto {
                    display: table;
                    height: 210px;
                    width: 100%;
                }
                    .list-goods .wrap-foto span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                .list-goods .desc {
                    display: block;
                    margin-bottom: 35px;
                }
                .list-goods .btn {
                    width: 100%;
                    max-width: 200px;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    margin-top: -251px;
	background: #3F4553;
    color: #fff;
}
.wrap-footer a {
    color: #fff;
}
    .wrap-footer .top-box {
        padding: 32px 0 33px;
        border-bottom: 1px solid #5A6070;
    }
        .nav {
            overflow: hidden;
            margin: 0 auto;
        }
            .nav > ul > li {
                float: left;
                margin-left: 35px;
            }
            .nav > ul > li:first-child {
                margin-left: 0;
            }
                .nav > ul > a {
                    font-size: 16px;
                }
                .wrap-footer .nav a:hover,
                .wrap-footer .nav .active a {
                    color: #fa8343;
                    text-decoration: underline;
                }
    .wrap-footer .middle-box,
    .wrap-header .middle-box {
        overflow: hidden;
        padding: 28px 0;
    }
        .wrap-footer .middle-box .wrap,
        .wrap-header .middle-box .wrap {
            float: left;
        }
            .logo {
                float: left;
                margin-right: 45px;
            }
            .desc-company {
                float: right;
                width: 300px;
                margin-top: 5px;
                font-size: 16px;
            }
        .contact-box {
            float: right;
        }
            .tell {
                float: left;
                padding: 3px 0 4px 45px;
                margin-top: 4px;
                background: url("../images/header/tell_icon.png") left center no-repeat;
            }
                .tell a {
                    margin-right: 13px;
                    font-size: 24px;
                    font-weight: 600;
                    text-decoration: none;
                }
                    .tell span {
                        font-weight: 700;
                    }
            .btn {
                width: 196px;
                height: 50px;
                color: #FA8343;
                border: 2px solid #FA8343;
                background: transparent;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1px;
                cursor: pointer;

                -webkit-transition: 0.5s;
                transition: 0.5s;
            }
            .btn:hover {
                color: #fff;
                background: #FA8343;
            }
            .wrap-footer .btn {
                color: #fff;
            }
            .btn-more-info {
                display: inline-block;
                height: auto;
                padding: 13px 0;
            }
    .wrap-footer .bottom-box,
    .wrap-header .top-box {
        overflow: hidden;
        padding: 11px 0;
        background: #383D4A;
    }
        .wrap-search {
            float: right;
            height: 35px;
            padding: 0 15px;
            background: #5C616F;
        }
            .wrap-search .text {
                width: 151px;
                margin-top: 9px;
                background: transparent;
                border: none;
                color: #fff;
            }
            .wrap-search .text::-webkit-input-placeholder {color: #fff;}
            .wrap-search .text::-moz-placeholder          {color: #fff;}
            .wrap-search .text:-moz-placeholder           {color: #fff;}
            .wrap-search .text:-ms-input-placeholder      {color: #fff;}

            .wrap-search .search {
                width: 15px;
                height: 15px;
                margin-top: 10px;
                background: url("../images/header/search_icon.png") no-repeat;
                border: none;
                text-indent: -9999px;
            }
            .wrap-search .search:hover {
                opacity: 0.8;
            }
        .list-contact {
            overflow: hidden;
            float: left;
            margin-top: 5px;
            font-size: 14px;
        }
            .list-contact li {
                float: left;
                margin-left: 27px;
            }
            .list-contact li:first-child {
                margin-left: 0;
            }
            .list-contact li:before {
                content: '';
                float: left;
                width: 20px;
                height: 20px;
                background: url("../images/header/contact_icons.png") no-repeat;
            }
            .list-contact .mail:before {
                width: 15px;
                margin: 1px 7px 0 0;
            }
            .list-contact .address:before {
                width: 17px;
                margin: 3px 7px 0 0;
                background-position: -42px 0;
            }
            .list-contact .skype:before {
                width: 14px;
                margin: 3px 7px 0 0;
                background-position: -79px 0;
            }
            .list-contact .question:before {
                margin-right: 7px;
                background-position: -125px 0;
            }
                .list-contact address {
                    display: inline;
                }
                .list-contact a {
                    font-size: 14px;
                    text-decoration: none;
                }
                .list-contact .question:hover a {
                    color: #fa8343;
                }
                .list-contact .question:hover:before {
                    background: url("../images/header/hover_question_icon.png") no-repeat;
                }
        .list-soc-links {
            overflow: hidden;
            float: right;
            margin: 3px 30px 0 0;
        }
            .list-soc-links li {
                float: left;
                margin-left: 1px;
                background: url("../images/header/soc_icons.png") no-repeat;
            }
            .list-soc-links .vk {
                background-position: -28px 0;
            }
            .list-soc-links .tw {
                background-position: -57px 0;
                opacity: 0.6;
            }
            .list-soc-links .g {
                background-position: -85px 0;
            }
            .list-soc-links .mail {
                background-position: -113px 0;
            }
            .list-soc-links .youtube {
                background-position: -142px 0;
            }
            .list-soc-links li:hover {
                background: url("../images/header/soc_btns_hover.png") no-repeat;
            }
            .list-soc-links .vk:hover {
                background-position: -28px 0;
            }
            .list-soc-links .tw:hover {
                background-position: -57px 0;
                opacity: 0.6;
            }
            .list-soc-links .g:hover {
                background-position: -85px 0;
            }
            .list-soc-links .mail:hover {
                background-position: -113px 0;
            }
            .list-soc-links .youtube:hover {
                background-position: -142px 0;
            }
                .list-soc-links a {
                    display: block;
                    width: 27px;
                    height: 27px;
                    text-indent: -9999px;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SLIDER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-slider {
    margin-top: -35px;
}
.wrap-foto {
    height: 100%;
}
.slide{
    overflow: hidden;
    max-height: 500px;
    width: 100%;
}
.wrap-slider img {
    position: relative;
    left: 50%;
    width: 1920px !important;
    max-width: 1920px;
    max-height: 500px;
    height: 100%;
    margin-left: -960px;
}
.wrap-slider .wrap {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
}
.wrap-slider .text {
    width: 600px;
    margin: 100px 0 45px;
}
.wrap-slider .header1,
.wrap-slider .header2 {
    display: block;
    font-size: 40px;
    line-height: 45px;
}
.wrap-slider .header1 {
    font-weight: bold;
}
.wrap-slider .header2 {
    margin-bottom: 20px;
}
.wrap-slider .desc {
    font-size: 16px;
}
.wrap-slider .btn-more-info {
    font-size: 15px;
}
.carousel-inner>.item {
    overflow: hidden;
}
.carousel-control.left,
.carousel-control.right {
    top: 50%;
    z-index: 100;
    background: none;
    opacity: 1;
    width: 80px;
    height: 80px;
    background: #FA8343;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    background: url("../images/content/arrow_left.png") center no-repeat;
}
.carousel-control .glyphicon-chevron-right {
    background: url("../images/content/arrow_right.png") center no-repeat;
}
.carousel-control .glyphicon-chevron-left:hover,
.carousel-control .glyphicon-chevron-right:hover {
    opacity: 0.7;
}
.carousel-control .glyphicon-chevron-left:before,
.carousel-control .glyphicon-chevron-right:before {
    display: none;
}
.carousel-control {
    width: 30px;
    height: 30px;
    bottom: auto;
}
.list-btns-slider {
    overflow: hidden;
}
.list-btns-slider li {
    float: left;
    margin-right: 20px;
}
.list-btns-slider li .btn {
    background: #495061;
    border-color: #495061;
    color: #fff;
    border-radius: 0;
}
.list-btns-slider li:first-child .btn {
    background: #FA8343;
    border-color: #FA8343;
}
.list-btns-slider li .btn:hover {
    background: #fff;
    color: #495061;
}
.list-btns-slider li:first-child .btn:hover {
    background: #fff;
    color: #FA8343;
}