/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:15px 'Open Sans', sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:15px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:15px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
	/*box-sizing: border-box;*/
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 253px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    position: relative;
    z-index: 100;
}
.wrap-header .top-box,
.wrap-header .top-box a {
    color: #b6b6b6;
}
    .wrap-header .desc-company {
        color: #b2b2b2;
    }
    .wrap-header .btn-callback {
        color: #FA8343;
    }
.nav.nav-header {
    overflow: visible;
    height: 70px;
    background: #FA8343;
}
    .nav.nav-header > ul > li {
        position: relative;
        height: 70px;
        margin-left: 0;
    }
    .nav-header > ul > li:hover:before {
        background: #FA8343;
    }
    .nav-header > ul > li.active,
    .nav-header > ul > li.active:before,
    .nav-header > ul > li:hover {
        background: #495061;
    }
        .nav-header > ul > li:before,
        .nav-header > ul > li:after {
            content: '';
            display: block;
            width: 100%;
            height: 13px;
        }
        .nav-header > ul > li > a {
            display: block;
            margin: 12px 20px;
            color: #fff;
        }
        .nav-header > ul > li > a:hover {
            text-decoration: underline;
        }
        .nav-header > ul > li:hover .sub-menu {
            display: block;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 70px;
            width: 265px;
            padding: 15px 0;
            background: #495061;
        }
            .sub-menu li {
                display: block;
                float: none;
                padding: 11px 0 12px 30px;
                border-bottom: 1px solid #5B6472;
            }
            .sub-menu li:last-child {
                border-bottom: none;
            }
                .sub-menu a {
                    color: #fff;
                    font-size: 15px;
                    text-decoration: none;
                }
                .sub-menu a:hover {
                    color: #fa8343;
                    text-decoration: underline;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-content {
    padding-top: 75px;
}
    .list-big-squares {
        overflow: hidden;
    }
        .list-big-squares li {
            position: relative;
            float: left;
            width: 31.66%;
            height: 210px;
            margin-left: 2.5%;
            background: #495061;
            color: #fff;
        }
        .list-big-squares li:nth-child(3n + 1) {
            margin-left: 0;
        }
        .list-big-squares li:first-child {
            background: url("../images/content/bg_block.jpg") repeat-y #FA8343;
        }
            .list-big-squares li:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;

                width: 0;
                height: 0;
                border-bottom: 35px solid #fff;
                border-left: 35px solid transparent;
                opacity: 0.2;
            }
            .list-big-squares .wrap {
                margin: 35px 35px 5px;
            }
                .list-big-squares .name {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    margin-top: -253px;
	background: #3F4553;
    color: #fff;
}
.wrap-footer a {
    color: #fff;
}
    .wrap-footer .top-box {
        padding: 32px 0 33px;
        border-bottom: 1px solid #5A6070;
    }
        .nav {
            overflow: hidden;
            margin: 0 auto;
        }
            .nav > ul > li {
                float: left;
                margin-left: 35px;
            }
            .nav > ul > li:first-child {
                margin-left: 0;
            }
                .nav > ul > a {
                    font-size: 16px;
                }
                .wrap-footer .nav a:hover,
                .wrap-footer .nav .active a {
                    color: #fa8343;
                    text-decoration: underline;
                }
    .wrap-footer .middle-box,
    .wrap-header .middle-box {
        overflow: hidden;
        padding: 28px 0;
    }
        .wrap-footer .middle-box .wrap,
        .wrap-header .middle-box .wrap {
            float: left;
        }
            .logo {
                float: left;
                margin-right: 45px;
            }
            .desc-company {
                float: right;
                width: 300px;
                margin-top: 5px;
                font-size: 16px;
            }
        .contact-box {
            float: right;
        }
            .tell {
                float: left;
                padding: 3px 0 4px 45px;
                margin-top: 4px;
                background: url("../images/header/tell_icon.png") left center no-repeat;
            }
                .tell a {
                    margin-right: 13px;
                    font-size: 24px;
                    font-weight: 600;
                    text-decoration: none;
                }
                    .tell span {
                        font-weight: 700;
                    }
            .btn-callback {
                width: 200px;
                height: 50px;
                color: #fff;
                border: 2px solid #FA8343;
                background: transparent;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
            }
    .wrap-footer .bottom-box,
    .wrap-header .top-box {
        overflow: hidden;
        padding: 11px 0;
        background: #383D4A;
    }
        .wrap-search {
            float: right;
            height: 35px;
            padding: 0 15px;
            background: #5C616F;
        }
            .wrap-search .text {
                width: 151px;
                margin-top: 9px;
                background: transparent;
                border: none;
                color: #fff;
            }
            .wrap-search .text::-webkit-input-placeholder {color: #fff;}
            .wrap-search .text::-moz-placeholder          {color: #fff;}
            .wrap-search .text:-moz-placeholder           {color: #fff;}
            .wrap-search .text:-ms-input-placeholder      {color: #fff;}

            .wrap-search .search {
                width: 15px;
                height: 15px;
                margin-top: 10px;
                background: url("../images/header/search_icon.png") no-repeat;
                border: none;
                text-indent: -9999px;
            }
            .wrap-search .search:hover {
                opacity: 0.8;
            }
        .list-contact {
            overflow: hidden;
            float: left;
            margin-top: 5px;
            font-size: 14px;
        }
            .list-contact li {
                float: left;
                margin-left: 27px;
            }
            .list-contact li:first-child {
                margin-left: 0;
            }
            .list-contact li:before {
                content: '';
                float: left;
                width: 20px;
                height: 20px;
                background: url("../images/header/contact_icons.png") no-repeat;
            }
            .list-contact .mail:before {
                width: 15px;
                margin: 1px 7px 0 0;
            }
            .list-contact .address:before {
                width: 17px;
                margin: 3px 7px 0 0;
                background-position: -42px 0;
            }
            .list-contact .skype:before {
                width: 14px;
                margin: 3px 7px 0 0;
                background-position: -79px 0;
            }
            .list-contact .question:before {
                margin-right: 7px;
                background-position: -125px 0;
            }
                .list-contact address {
                    display: inline;
                }
                .list-contact a {
                    font-size: 14px;
                    text-decoration: none;
                }
                .list-contact .question:hover a {
                    color: #fa8343;
                }
                .list-contact .question:hover:before {
                    background: url("../images/header/hover_question_icon.png") no-repeat;
                }
        .list-soc-links {
            overflow: hidden;
            float: right;
            margin: 3px 30px 0 0;
        }
            .list-soc-links li {
                float: left;
                margin-left: 1px;
                background: url("../images/header/soc_icons.png") no-repeat;
            }
            .list-soc-links .vk {
                background-position: -28px 0;
            }
            .list-soc-links .tw {
                background-position: -57px 0;
                opacity: 0.6;
            }
            .list-soc-links .g {
                background-position: -85px 0;
            }
            .list-soc-links .mail {
                background-position: -113px 0;
            }
            .list-soc-links .youtube {
                background-position: -142px 0;
            }
            .list-soc-links li:hover {
                background: url("../images/header/soc_btns_hover.png") no-repeat;
            }
            .list-soc-links .vk:hover {
                background-position: -28px 0;
            }
            .list-soc-links .tw:hover {
                background-position: -57px 0;
                opacity: 0.6;
            }
            .list-soc-links .g:hover {
                background-position: -85px 0;
            }
            .list-soc-links .mail:hover {
                background-position: -113px 0;
            }
            .list-soc-links .youtube:hover {
                background-position: -142px 0;
            }
                .list-soc-links a {
                    display: block;
                    width: 27px;
                    height: 27px;
                    text-indent: -9999px;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/